<!DOCTYPE html>
<html lang="en" ng-app='app'>

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Freelancer - Start Bootstrap Theme</title>

    <link href="assets/css/bootstrap.min.css" rel="stylesheet">
    <link href="assets/css/navbarandfooter.css" rel="stylesheet">






    <!-- Custom Fonts -->
    <link href="assets/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>
<!--id="page-top" class="index"-->
    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#home"><img class="img-responsive logo" src="assets/img/logoTransparent.png" alt="logo"></a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1" ng-controller="ModalController">
                <ul class="nav navbar-nav navbar-right">
                        <li><a class="signUpLoginButton" href="#sanctuary">Sanctuary</a></li>
                        <li><a class="signUpLoginButton" ng-click="openModal()">Login</a></li>
                        <li><a class="signUpLoginButton" ng-click="openModal()">Sign Up</a></li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <div ng-view="">

    </div>

    <!-- Footer -->
    <footer>
        <div class="footer-below">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        Copyright &copy; Your Website 2014
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <div id=#target" class="back-to-top scroll-top page-scroll visible-xs visible-sm visible-lg visible-md">
        <a class="btn btn-primary" href="#page-top">
            <i class="fa fa-chevron-up"></i>
        </a>
    </div>





<script src="assets/js/jquery-2.1.4.min.js"></script>
<script src="assets/js/bootstrap.min.js"></script>
<script src="assets/js/freelancer.js"></script>
<script src="assets/js/angular.min.js"></script>
<script src="assets/js/angular-route.min.js"></script>
<script src="assets/js/angular-cookies.min.js"></script>
<script src="app.js"></script>
<script src="assets/js/ng-file-upload.min.js"></script>
<script src="assets/js/ng-file-upload-shim.js"></script>
<script src="assets/js/ng-image-crop.js"></script>
<script src="assets/js/ui-bootstrap-tpls-0.14.3.min.js"></script>
<script src="assets/app-services/flash.service.js"></script>
<script src="assets/app-services/authentication.service.js"></script>
<script src="assets/app-services/mockUserService.js"></script>
<script src="app/components/signUpLogin/login.controller.js"></script>
<script src="app/components/signUpLogin/register.controller.js"></script>
<script src="app/components/userProfile/userProfileController.js"></script>
<script src="app/components/sanctuary/sanctuaryService.js"></script>

</body>


</html>


