<section class="block-one">
    <div class="container block-one">
        <div class="row">
            <div class="col-md-8 col-md-offset-5">
                <div class="blockquote transbox">
                    <p class="says">We can never obtain peace in the outer world until we make peace with ourselves</p>
                    <small><cite>Dalai Lama</cite></small>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="block-two">
    <div class="container block-two">
        <div class="row">
            <div class="col-xs-10 col-sm-4 col-md-6 text-center">
                <h2>Who We Are</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-10 col-sm-4 col-md-6 text-center">
                <p>Be One is a social networking platform that promotes becoming one with oneself to build communities that act as one.</p>
            </div>
        </div>
    </div>
</section>

<section class="block-one">
    <div class="container block-one">
        <div class="row">
            <div class="col-md-8 col-md-offset-5">
                <div class="blockquote transbox">
                    <p class="says">The mind is everything.  What you think you become</p>
                    <small><cite>Buddha</cite></small>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="block-four">
    <div class="container block-four">
        <div class="row">
            <div class="col-xs-10 col-sm-4 col-md-6 text-center">
                <h2>Our Communities</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-10 col-sm-4 col-md-6 text-center">
                <p>Our communities strive to build their their members up. We have communities focused on helping their members embrace who they are, become more focused and present in their day to day lives, and be more grateful for what they have, and more.</p>
        </div>
        </div>
    </div>
</section>

<section class="block-one">
    <div class="container block-one">
        <div class="row">
            <div class="col-md-8 col-md-offset-5">
                <div class="blockquote transbox">
                    <p class="says">Your work is discover your world and then with all your heart give yourself to it</p>
                    <small><cite>Buddha</cite></small>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="block-six">
    <div class="container block-six">
        <div class="row">
            <div class="col-xs-10 col-sm-4 col-md-6 text-center">
                <h2>Our Sanctuaries</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-10 col-sm-4 col-md-6 text-center">
                <p>Looking for a space to escape or focus? Create your own sanctuary that meets your needs. Want to get in the zone before an important work out? Create a sanctuary with a picture of that race you want to win and your favorite pump up tune. Check it out as you walk up to the gym. Looking for a calm escape? Upload a video of your favorite beach and a soft tune to sooth you. Take 5, watch and relax.</p>
            </div>
        </div>
    </div>
</section>

<section class="block-one">
    <div class="container block-one">
        <div class="row">
            <div class="col-md-8 col-md-offset-5">
                <div class="blockquote transbox">
                    <p class="says">Happiness is when what you think, what you say, and what you do are in harmony</p>
                    <small><cite>Mahatma Gandhi</cite></small>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="block-eight">
    <div class="container block-eight">
        <div class="row">
            <div class="col-xs-10 col-sm-4 col-md-6 text-center">
                <h2>Our Diary Feeds</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-10 col-sm-4 col-md-6 text-center">
                <p>Want a portable space to record your mindset, thoughts, happy moments, motivating videos or tunes? Look no further. Our diary feeds have you covered.</p>
            </div>
        </div>
    </div>
</section>

<section class="block-one">
    <div class="container block-one">
        <div class="row">
            <div class="col-md-8 col-md-offset-5">
                <div class="blockquote transbox">
                    <p class="says">Learn to let go. That is the key to happiness.</p>
                    <small><cite>Buddha</cite></small>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="block-ten" ng-controller="ModalController">
    <div class="block-thirteen">
        <div class="container block-thirteen">
            <div class="row">
                <div class="col-lg-12">
                    <p class="joinUs" ng-click="openModal()">JOIN US</p>
                </div>
            </div>
        </div>
    </div>
</section>
<link href="assets/css/freelancer.css" rel="stylesheet">
